@import './base.css';

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: rgb(18, 91, 201);
	transition: 0.4s;
	padding: 3px;
	font-size: 16px;
}

.blue {
	text-decoration: none;
	color: rgb(18, 91, 201);
	transition: 0.4s;
	padding: 3px;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(224, 48%, 47%, 0.301);
		border-radius: 10px;
	}
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
